/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Whole pages */
body {
  font:16px "Helvetica Neue", Helvetica, Meiryo, Arial, sans-serif ;
  background: #fff;
  color: #888;
}

#wrapper {
  width: 95%;
  max-width: 980px;
  border: 3px solid #00afff;
  margin: 5px auto;
  padding: 5px;
}

/* Header */
#carousel .item img {
  display: block;
  height: auto;
  width: 100%;
}

nav {
  width: 100%;
}

nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style:none;
  /*display: table;*/
}

nav li{
  margin: 0;
  padding: 0;
  width: 100%;
/*  width: 25%;*/
/*  display: table-cell;*/
}

nav li a {
  display: block;
  border-left: 3px solid #00afff;
  border-right: 3px solid #00afff;
  border-top: 3px solid #00afff;
/*  border-bottom: 3px solid #00afff;*/
  padding: 8px;
  text-decoration: none;
  color: #00afff;
/*  margin: 1px 0;*/
  text-align: center;
  font-size: 22px;
}

nav li:last-child a {
  border: 3px solid #00afff;
}

nav li a:hover {
  background: #00afff;
  color: #fff;
}


/* Main contents */
#main section {
  margin: 20px auto 40px;
}

#main h1 {
  background: #81d2f3;
  border: 3px solid #00afff;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  padding: 8px;
}

#poem {
  text-align: center;
  font-size: 18px;
  margin: auto;
  width: 80%;
  max-width: 690px;
  line-height: 36px;
}

.back2top {
  text-align: right;
}
.back2top a {
  text-decoration: none;
  color: #81d2f3;
}

/* cards style */

div#card_wrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  /*
  display: -webkit-box;
  display: box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: flex;
  box-lines: multiple;
  flex-wrap: wrap;
  align-items: flex-start;
  */
}
div.cards {
  position: relative;
  top: 500px;
  width: 90%;
  margin: 20px auto;
  padding: 0;
  background: #fff;
  color: #00afff;
  border: 3px solid #00afff;
}

div.thumb {
  position: relative;
  cursor: pointer;
}

div.thumb img {
  width: 100%;
}

div.title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 175, 256, .8);
}

div.title h2 {
  margin: 5px 10px;
  font-size: 20px;
  color: #fff;
}

div.tri {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 0;
  width: 0;
  border: 10px solid #fff;
  border-color: transparent;
  border-top-color: #00afff;
/*  
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
*/
}

div.showing div.tri {
  border-color: transparent;
  border-bottom-color: #00afff;
}
div.showing div.tri.transitioning {
  border-color: transparent;
  border-right-color: #00afff;
}
div.tri.transitioning {
  border-color: transparent;
  border-left-color: #00afff;
}

div.detail {
  margin: 0 20px;
}
div.detail h3 {
  margin: 0;
}
div.detail ul {
  padding: 0;
  margin: 0;
}
div.detail ul li {
  list-style-type: none;
}
div.images {
  margin-top: 20px;
}
div.images ul,
div.authors ul {
  /*
  display: -webkit-box;
  display: box;
  display: -webkit-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: flex;
  box-lines: multiple;
  flex-wrap: wrap;
  */
}

div.images li,
div.authors li {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 10px;
  float: left;
}
div.images li:nth-child(3),
div.images li:nth-child(6),
div.authors li:nth-child(3),
div.authors li:nth-child(6) {
  margin-right: 0;
}

div.images img,
div.authors img {
  width: 100%;
}

div.authors {
  margin-top: 20px;
}

div.authors ul {
}

div.authors p {
  margin: 0;
  text-align: center;
  color: #00afff;
}

div.authors a {
  text-decoration: none;
}


/* Footer */
#copyright {
  margin: auto;
  text-align: center;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  nav ul {
    display: table;
  }
  nav li{
    width: 25%;
    display: table-cell;
  }
  nav li a {
    border-right: none;
    border-bottom: 3px solid #00afff;
    margin: 1px 0;
  }
  
}

@media only screen and (min-width: 768px) {
  #wrapper {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
  }
  #poem {
    line-height: 45px;
  }
  
  div#card_wrapper {
    max-width: 1000px;
  }
  div.cards {
    width: 45%;
    box-sizing: border-box;
    margin: 20px 2.5%;
    float: left;
  }
  
  div.cards.showing {
    
  }
  
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}