/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Whole pages */
body {
  font:16px "Helvetica Neue", Helvetica, Meiryo, Arial, sans-serif ;
  background: #fff;
  color: #888;
}

#wrapper {
  width: 960px;
  border: 3px solid #139ae8;
  margin: 10px auto;
  padding: 10px;
}

/* Header */
#carousel .item img {
  display: block;
  height: auto;
  width: 100%;
}

nav {
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

nav li{
  margin: 0;
  padding: 0;
  float: left;
  width: 33.3333%;
  text-align: center;
}

nav li a {
  display: block;
  border-left: 3px solid #139ae8;
  border-top: 3px solid #139ae8;
  border-bottom: 3px solid #139ae8;
  padding: 8px;
  text-decoration: none;
  color: #139ae8;
  margin: 1px 0;
  text-align: center;
  font-size: 22px;
}

nav li:last-child a {
  border: 3px solid #139ae8;
}

nav li a:hover {
  background: #139ae8;
  color: #fff;
}


/* Main contents */
#main section {
  margin: 20px auto 40px;
}

#main h1 {
  background: #81d2f3;
  border: 3px solid #139ae8;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  padding: 8px;
}

#poem {
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  margin: auto;
  width: 60%;
}

/* cards style */

div.cards {
	margin: 10px;
	padding: 10px;
	background: #fff;
  border: 3px solid #139ae8;
	cursor: pointer;
}

img.img {
	width: 300px;
	margin-bottom: 20px;;
}

img.icon {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

div.authors {
	border-top: 2px solid #999;
}

div.authors h4 {
	color: #444;
	font-size: 1em;
}

div.authors a {
	text-decoration: none;
}


/* Footer */
#copyright {
  margin: auto;
  text-align: center;
  font-size: 12px;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {
/* Tablet style */
  #wrapper {
    width: 95%;
    margin: 2.5% 2.5%;
  }

  #poem {
    width: 80%;
    line-height: 36px;
  }
}

@media only screen and (max-width: 480px) {
/* mobile style */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}